body {
  background: #F7F7F7;
  font-size: 15px;
}

h1 {
  color:#B4B7FA;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

p {
  color: #546458;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

h2 {
  color: #F8AB81;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

a {
  color :#15A3EF;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  color: #0E41B0;
}

img {
  border-radius: 50%;
  height: 70px;
  object-fit: cover;
  margin: 20px 0;
}

.card-white {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  width: 900px;
  margin: 40px auto;
  box-shadow: 2px 2px 3px #B4B7FA;
  padding: 1.6em 10px;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}

.list-inline {
  list-style: none;
  text-align: center;
  font-size: 30px;
  margin: 40px auto;
  color: #B4B7FA;
  padding: 0px;
}

.list-inline i {
  text-align: 40px auto ;
  font-size: 30px;
  color: #8D7BDC;
}

.list-inline i:hover{
  color: #F8AB81;
}

.button-blue {
  background-color: #9A80CF;
  color: white;
  padding: 15px 20px;
  border-radius: 3px;
  margin: 20px auto;
}

.button-blue:hover {
  background-color: #F8AB81;
  color: white;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .card-white {
    width: 300px;
  }
}
